.portafolio{
	margin-left: -20px;
	padding:10px 0px 10px 0px;
	background-color: #ff6c4c;
	font-size: 1.2em;
	text-align: center;
	-webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.portafolio:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

header.container h1{
	display: none;
}

.incognit{
    opacity: 1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.incognit.take{
	background: #fff;
	opacity:0.1;
}

section.socials img{
 	-webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
section.socials img:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.container{
	max-width: 1024px;
	margin-right:auto;margin-left:auto;
}
.clear
{
	clear: both;
}

.thumb h3{
	margin:0px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.thumbnail{
	border:none;
	margin: 0px;
}

.textRequired::after{
	content: " *";
	color:red;
}

.popover.right>.arrow {
	border-right-color:#a94442;
}
.popover {
	border: 1px solid #a94442;
	color:#a94442;
}

.namewrap{
   overflow: hidden;
    text-overflow: ellipsis;
    height:2em;
    display:inline;
}

.formname{
	margin:0px;
	font-size: 1.3em;
	color: #7f7f7f;
  	overflow: hidden;
    text-overflow: ellipsis;
    display:inline;
}


.boton_mostrar1{
	background: #D23659;
    display: block;
    margin: 0 auto;
    margin-top: -10px; 
    margin-right: -10px;
    width: 50px;
    height: 48px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 35px;
}

.boton_mostrar1:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.boton_ocultar1{
	background: #D23659;
    display: block;
    margin: 0 auto;
    margin-top: -10px; 
    margin-right: -10px;
    width: 50px;
    height: 48px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 35px;
}

.boton_ocultar1:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}


.boton_mostrar2{
	background: #3C59A4;
    display: block;
    margin: 0 auto;
    margin-top: -9px; 
    margin-right: -10px;
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 35px;
}

.boton_mostrar2:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.boton_ocultar2{
	background: #3C59A4;
    display: block;
    margin: 0 auto;
    margin-top: -9px; 
    margin-right: -10px;
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 35px;
}

.boton_ocultar2:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}


.boton_mostrar3{
	background: #DC5745;
    display: block;
    margin: 0 auto;
    margin-top: -10px; 
    margin-right: -9px;
    width: 49px;
    height: 50px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 53px;
    text-decoration: none;
    font-size: 35px;
}

.boton_mostrar3:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.boton_ocultar3{
	background: #DC5745;
    display: block;
    margin: 0 auto;
    margin-top: -10px; 
    margin-right: -9px;
    width: 49px;
    height: 50px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 35px;
}

.boton_ocultar3:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.boton_mostrar4{
	background: #E68000;
    display: block;
    margin: 0 auto;
    margin-top: -10px; 
    margin-right: -9px;
    width: 49px;
    height: 50px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 35px;
}

.boton_mostrar4:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.boton_ocultar4{
	background: #E68000;
    display: block;
    margin: 0 auto;
    margin-top: -10px; 
    margin-right: -9px;
    width: 49px;
    height: 50px;
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 35px;
}

.boton_ocultar4:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}


.infotitulo {
	padding: 0.7em !important;
	background-color: #e73659 !important  ;
	color: white !important;
	border-bottom: solid 3px #871E35  !important;
	font-size: 13px;

}

.infotitulo2 {
	margin: 0 auto;
	max-width: 1024px;
	margin-right:auto;margin-left:auto;
	padding: 0.7em !important;
	background-color: #e73659 !important  ;
	color: white !important;
	border-bottom: solid 3px #D23659 !important;
	text-align: center;
}

.infotitulo2 h2{
	font-size: 1.85em;
	margin-left: -5px;
}

.infotitulo3 {
	max-width: 1024px;
	margin-right:auto;margin-left:auto;
	padding: 0.7em !important;
	background-color: #5b59a4 !important  ;
	color: white !important;
	border-bottom: solid 3px #3C59A4 !important;
	text-align: center;
	opacity: 0.9;
	border-top: 
}

.infotitulo4 {
	max-width: 1024px;
	height: 49px;
	margin-right:auto;margin-left:auto;
	padding: 0.7em !important;
	background-color: #f05745 !important  ;
	color: white !important;
	opacity: 0.9;	
}

.infotitulo4 h2 {
	position: relative;
	top: 3px;
}

.infotitulo4 input
{
  width: 95%;
}

.infotitulo5 {
	max-width: 1024px;
	margin-right:auto;margin-left:auto;
	padding: 0.7em !important;
	background-color: #FF8000  !important  ;
	color: white !important;
	border-bottom: solid 3px #E68000 !important;
	text-align: center;
	opacity: 0.95;
}

.infotitulo5 h2{
	margin-left: -40px;
}


#seccion1{
	margin: 0 auto;
	margin-bottom: 15px;
	width: 93%;
}

.contenedor{
	margin: 0 auto;
	
}

.contenedor img{
	width: 87%;
}


.barra{
	margin: 0 auto;
	background-color: #f05745;
	border-bottom: solid 3px #DC5745 !important;
}

.busquedaimg img{
	width: 90%;
	height: 220px;
	border: 1px solid black;
	margin-top: 50px;
	margin-left: 5%;
}

.descripcion{
	margin: 0 auto;
	padding: 0;
	background-color: white;
	margin-bottom: 30px;
	margin-top: 5px;
	width: 90%;	
}

.des_detalle1{
	text-transform: uppercase;
	margin-left: 5px;
}

.des_detalle2{
	text-transform: uppercase;
	font-style: italic;
	color: red;
	margin-left: 30px;
}

.infobody .row{
	margin-top:1.3em;

}
.infobody .form-control{
	border:none;
}
.infobody label{
	margin-bottom: 0px;
	font-size: 1.1em;
}

.btn-nigga{
	padding: 5px 10px;
	color: #fff;
	background-color: #3d3d3d;

}
.btn-nigga:hover{
	color: #fff;
	background-color: #7f7f7f;
	cursor:pointer;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}
.patro  h2{
	display: none;
}

.patro  {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.patro:hover {
    opacity: 1;

}

.ds-btn li{
	list-style:none;
	float:left;
	padding:10px;
	text-align: center;
}

div.product-chooser.disabled div.product-chooser-item
{
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: default;
}

div.product-chooser div.product-chooser-item{
	padding: 11px;
	border-radius: 6px;
	position: relative;
	border: 1px solid #efefef;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

div.product-chooser div.product-chooser-item.selected{
	/*border: 4px solid #428bca;
	background: #efefef;*/
	padding: 8px;
	filter: alpha(opacity=100);
	opacity: 1;
}

div.product-chooser div.product-chooser-item img{
	padding: 0;
}

div.product-chooser div.product-chooser-item span.title{
	display: block;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

div.product-chooser div.product-chooser-item span.description{
	font-size: 14px;
	text-indent: 1em;
}

div.product-chooser div.product-chooser-item input{
	position: absolute;
	left: 0;
	top: 0;
	visibility:hidden;
}

footer.fin {
	border-top: 1px solid #eee;
	border-top-width: 3px;
	padding-left: 3em;
	padding-right: 3em;
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity:0.7;
	filter:alpha(opacity=80);
	background: #EFF3F4;
}

.product-chooser-item img{
	width: 12em;
	height: 10em;
	border-radius: 5px;
	margin-left: 8%
}

.description{
	text-align: justify;
}

.parrafo{
	margin-left: 0%;
	
}

.title{
	position: relative;
	left: -4%;
	
}

.imagenes_not img{
	width: 100%;
	
}



/*************************************************************************
MEDIAS QUERYS
*************************************************************************/

@media (max-width: 1199px) {



.namewrap
{
   margin-left: 20px;
}

.infotitulo4 input
{
  width: 95%;
}

.infotitulo4 
{
 border-bottom: solid 0px #F03366  !important;
}


.boton_ocultar3
{

 position: relative;


}

.boton_mostrar3
{

 position: relative;

}


}


@media (max-width: 991px) {


.infotitulo4 input
{
  width: 80%;
}


.product-chooser-item img{
	width: 50em;
	height: 20em;
	margin-left: 0%;
}

.description{
	text-align: justify;
}

.parrafo{
	margin-left: 0%;
	width: 100%;
	
}

.title{
	position: relative;
	left: 0%;
	
}

}



@media (max-width: 620px) {


.infotitulo4 input
{
  width: 65%;
}

}


@media (max-width: 600px) {


.flech{
	display: none;
}

.infotitulo2{
	height: 50px;
}

.boton_ocultar1
{
	position: relative;
	top: 0px;
	height: 49px;
}

.boton_mostrar1
{
	position: relative;
	top: 0px;
	height: 49px;
}


.boton_ocultar2
{	
    margin-top: -10px; 
    margin-right: -10px;
    height: 48px;
}

.boton_mostrar2
{
	margin-top: -10px; 
    margin-right: -10px;
    height: 48px;
}


.boton_ocultar4
{
	position: relative;
	top: 1px;
	height: 49px;
}

.boton_mostrar4
{
	position: relative;
	top: 1px;
	height: 49px;
}

}


@media (max-width: 570px) {

.infotitulo2 h2{
	
	position: relative;
	top: 5px;
}

}



@media (max-width: 391px) {


.infotitulo4 h2{
	
	margin-left: -34%;
}


}



